<launch>
    <!-- Launch the laser scan filter node -->
    <node pkg="bot_control" type="reading_laser.py" name="laser_scan_filter" output="screen"/>

    <!-- Launch RViz for visualization -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find bot_control)/rviz/filtered_scan.rviz" />
</launch>
